<a href="https://colab.research.google.com/github/bimal2810/Projects/blob/master/Credit_card_risk_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Project/Credit_Card-Risk-assessment-master/Credit_default_dataset.csv')
data.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [0]:
# we dont need ID column so dropin it
data = data.drop('ID', axis = 1)

In [0]:
# changing the column name PAY_0 to PAY_2
data.rename(columns ={'PAY_0' : 'PAY_1'}, inplace = True)

In [11]:
data.head()

   LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0    20000.0    2          2  ...       0.0       0.0                           1
1   120000.0    2          2  ...       0.0    2000.0                           1
2    90000.0    2          2  ...    1000.0    5000.0                           0
3    50000.0    2          2  ...    1069.0    1000.0                           0
4    50000.0    1          2  ...     689.0     679.0                           0

[5 rows x 24 columns]

In [14]:
#Removing unwanted categorical levels in the  Education column
data.EDUCATION.value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

## Data Pre-Processing Steps

In [0]:
data.EDUCATION = data.EDUCATION.map({1:1, 2:2, 3:3,0:4, 4:4,5:4, 6:4})
data.MARRIAGE = data.MARRIAGE.map({0:3,1:1, 2:2, 3:3})

In [17]:
data.EDUCATION.value_counts()

2    14030
1    10585
3     4917
4      468
Name: EDUCATION, dtype: int64

In [0]:
from sklearn.preprocessing import StandardScaler
scaling = StandardScaler()
X = data.drop(['default.payment.next.month'], axis = 1)
X = scaling.fit_transform(X)

In [0]:
y = data['default.payment.next.month']

In [0]:
# Hyper parameter optimisation
params = {
    'learning_rate'       : [0.05, .010,.20,.25,.30],
    'max_depth'           : [3,4,5,6,8,12,15],
    'min_child_weight'    : [1,3,5,7],
    'gamma'               : [0.0,0.1,0.2,0.3,0.4],
    'colsample_bytree'    : [0.3,0.4,0.5,0.7]
}

In [0]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost

In [0]:
def timer(start_time = None):
  if not start_time:
    start_time = datetime.now()
    return start_time
  elif start_time:
    thour, temp_sec = divmod((datetime.now()- start_time).total_seconds(), 3600)
    tmin, tsec =divmod(temp_sec, 60)
    print('\n Time taken: %i hours %i minutes and %s seconds' %(thour, tmin, round(tsec, 2)))

In [0]:
calssifier = xgboost.XGBClassifier()

In [0]:
random_search = RandomizedSearchCV(calssifier, param_distributions = params, n_iter =5, scoring = 'roc_auc', n_jobs =-1, cv =5,verbose =3)

In [35]:
from datetime import datetime
start_time  =timer(None)                              #timing starts from this point from 'start_time'variable
random_search.fit(X,y)
timer(start_time)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:   56.2s finished

 Time taken: 0 hours 0 minutes and 59.11 seconds

In [36]:
random_search.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.4, gamma=0.0,
              learning_rate=0.05, max_delta_step=0, max_depth=5,
              min_child_weight=5, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [37]:
random_search.best_params_

{'colsample_bytree': 0.4,
 'gamma': 0.0,
 'learning_rate': 0.05,
 'max_depth': 5,
 'min_child_weight': 5}

In [0]:
calssifier = xgboost.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.4, gamma=0.0,
              learning_rate=0.05, max_delta_step=0, max_depth=5,
              min_child_weight=5, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(calssifier, X,y, cv = 10)

In [42]:
score

array([0.80773076, 0.81072976, 0.81539487, 0.80706431, 0.81933333,
       0.828     , 0.83827943, 0.83161054, 0.82827609, 0.82560854])

In [43]:
score.mean()

0.8212027618299367